body {
    
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    border-bottom: 1px solid var(--primary-color);
}

.header__container nav {
    width: 50%;
}

.menu__container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8px;
    padding: 16px;
}

.menu__container li {
    width: 23%;
}

.menu__container li a {
    
    color: var(--primary-color);
}

.menu__container li a:active {
    color: var(--primary-color);
}

.menu__container li a:hover {
    font-weight: bold;
}

.container__flex--row {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
    gap: 32px;
}

.image__container {
    height: 300px;
}

.button__highlight {
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
}

.hidden { 
    display: none;
}

.footer__container {
    
    background: var(--primary-color);
}